<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>FacebookAppID</key>
    <string>2262764990590228</string>
    <key>FacebookClientToken</key>
    <string>554fd5614b9e002fe67d176e022bfe28</string>
    <key>FacebookDisplayName</key>
    <string>Plinko Win - Lucky Ball</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<string>YES</string>
		<key>NSAllowsArbitraryLoadsForMedia</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>SKPaymentTransactionObserverProtocol</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>com.apple.developer.in-app-payments</key>
	<string>enable</string>
</dict>
</plist>
